/* Global */
*{
    font-family: Cambria;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    --background-color: #333; /* Testing colors */
    --background-text-color: #f2f2f2; /* Textcolor */

    scroll-behavior: smooth;
}

/* Body page */
#bodycontainer{
    margin: 0;
}

.navbartop{
    overflow: hidden;
    background-color: var(--background-color);
    position: fixed; /* Sets navbar fixed on position */
    top: 0; /* Positions navbar at top of the page */
    width: 100%;
    z-index: 9999;
    box-shadow: 0.1em 0.1em 0.1em white;
}

/* Elements in the navbar */
.navbartop a {
    float: left;
    display: block;
    color: var(--background-text-color);
    text-align: center;
    padding: 16px 14px; /*top_bottom, left_right*/
    text-decoration: none;
}

/* Change background on mouse-over */
.navbartop a:hover {
    background: #ddd;
    color: black;
}

.headercontainer{
    position: relative;

    background-image: url("background.jpg");
    background-repeat: no-repeat; /* Repeats picture */
    background-attachment: fixed; /* Stays in one place (Doesn't follow scroll) */
    background-position: center;
    background-size: cover;

    width: 100%;
    margin-top: 50px; /* Add a top margin to avoid content overlay */
    height: 100vh;

}

#introname{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3em;
    opacity: 0.9;

    width: 15vw;
    height: 10vh;

    background-color: var(--background-color);
    color: var(--background-text-color);

    /* Text placement */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vw;
}

#introname:hover{
    opacity: 0.7;
}

/* ############################################################################### */

.maincontainer{
    
    height: 60vh;

    text-align: center;
    margin: 0 auto;
    max-width: 100%;

    background-color: var(--background-color);
    color: var(--background-text-color);
}

/* Black boxes on the sides */
.contentcover{
    margin-top: 5vh;

    width: 5vw;
    height: 100%;
    float: left;
}

/* Contains the content */
.contentdiv{
    margin-top: 5vh;

    width: 30vw;
    height: 90%;
    float: left;

}

#picturebox{
    margin: auto;

    height: 70%;
    width: 70%;

    background-color: #c0c0c0;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.contentmiddle{
    margin-left: 5vw;
    text-align: left;
}

.contentmiddle a{
    color: var(--background-text-color);
    text-decoration: none;
}

.contentmiddle a:hover{
    text-decoration: underline;
}

.contentright{
    margin-left: 5vw;
    text-align: left;
}

/* ##################################################################### */
.transition{
    height: 30vh;
    width: 100%;

    background-image: url("transition.jpg");
    background-repeat: no-repeat; /* Repeats picture */
    background-attachment: fixed; /* Stays in one place (Doesn't follow scroll) */
    background-position: center;
    background-size: cover;
}

.portfoliomain{
    height: 100vh;
    
    text-align: center;

    background-color: var(--background-color);
}

.portfoliotitle{
    padding-top: 5vh;

    width: 100%;
    text-align: center;

    background-color: var(--background-color);
    color: var(--background-text-color);
}

.portfolioitem{
    display: inline-block;
    width: 20vw;
    height: 40vh;

    background-color: var(--background-color);
    color: var(--background-text-color);

    border-radius: 0.1em;
    border-style: solid;
    border-color: white;

    border: hidden;
}

.footer{
    height: 10vh;
    width: 100%;

    background-color: rgb(148, 7, 35);
}

/*Line seperator*/

.hline{
    background-color: black;

    width: 100%;
    height: 0.1vh;
}
